@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Special+Elite&display=swap");
@font-face {
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  src: url("../src/fonts/LumiosTypewriter-New.eot"), url("path/filename.eot?#iefix") format("embedded-opentype"), url("../src/fonts/LumiosTypewriter-New.woff") format("woff"), url("../src/fonts/LumiosTypewriter-New.woff2") format("woff2"), url("../src/fonts/LumiosTypewriter-New.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  transition: 0.3s;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strike,
strong,
b,
u,
i,
center,
ol,
ul,
li,
form,
input,
button,
article,
aside,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

a {
  color: #000;
}

ol,
ul,
li {
  list-style: none;
}

html {
  font-size: 16px;
}
@media (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav-container {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  background-color: #fff;
}
@media (min-width: 640px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7rem 2rem;
  }
}

.nav-title {
  padding-top: 1.7rem;
  padding-bottom: 1.1rem;
  letter-spacing: 0.08rem;
  text-align: center;
}
@media (min-width: 480px) {
  .nav-title {
    padding-top: 1.9rem;
    padding-bottom: 1.3rem;
  }
}
@media (min-width: 640px) {
  .nav-title {
    display: block;
    width: 40%;
    padding: 0;
    text-align: left;
    font-size: 1.1rem;
  }
}

.nav-title a {
  color: #a61717;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 640px) {
  .nav-link-container {
    width: 100%;
    max-width: 45%;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
  }
}

.nav-link {
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  background-color: #d9d9da;
  font-weight: bold;
  text-align: center;
  color: #363d47;
  border-bottom: 1px solid #9a9da2;
}
@media (min-width: 480px) {
  .nav-link {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 640px) {
  .nav-link {
    border: 0;
    padding: 0.2rem 0 0 0;
    background-color: #fff;
    font-size: 0.9rem;
  }
}

.nav-link:last-child {
  border-bottom: 0;
}

.nav-link:hover {
  color: #a61717;
  background-color: #9a9da2;
}
@media (min-width: 640px) {
  .nav-link:hover {
    background-color: #fff;
  }
}

section.reserve-1 {
  padding: 2rem 1.1rem;
  margin-top: 10.1rem;
  background-color: #363d47;
}
@media (min-width: 480px) {
  section.reserve-1 {
    padding: 2.3rem;
  }
}
@media (min-width: 480px) {
  section.reserve-1 {
    margin-top: 11.7rem;
  }
}
@media (min-width: 640px) {
  section.reserve-1 {
    margin-top: 4.5rem;
  }
}
section.reserve-1 .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #9a9da2;
}
@media (min-width: 480px) {
  section.reserve-1 .section-title {
    margin-bottom: 1.3rem;
  }
}
section.reserve-1 .section-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  color: #fff;
}
@media (min-width: 480px) {
  section.reserve-1 .section-text {
    font-size: 0.8rem;
  }
}
section.reserve-1 form {
  text-align: center;
}
section.reserve-1 form input {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0.6rem 1rem 0;
  padding: 0.5rem 1rem 0.3rem 0.9rem;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-weight: bold;
  font-size: 1rem;
  color: #363d47;
}
@media (min-width: 640px) {
  section.reserve-1 form input {
    max-width: 50%;
  }
}
section.reserve-1 form input::placeholder {
  color: #9a9da2;
}
section.reserve-1 form button {
  padding: 0.5rem 1.5rem 0.3rem 1.6rem;
  background-color: #a61717;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 1rem;
  color: #fff;
}
section.reserve-1 form button:hover {
  background-color: #fff;
  color: #a61717;
}

section.about {
  padding: 2rem 1.1rem;
  background-color: #fff;
}
@media (min-width: 480px) {
  section.about {
    padding: 2.3rem;
  }
}
section.about .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #363d47;
}
@media (min-width: 480px) {
  section.about .section-title {
    margin-bottom: 1.3rem;
  }
}
section.about .section-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  color: #363d47;
}
@media (min-width: 480px) {
  section.about .section-text {
    font-size: 0.8rem;
  }
}

section.judges {
  padding: 2rem 1.1rem;
  background-color: #363d47;
}
@media (min-width: 480px) {
  section.judges {
    padding: 2.3rem;
  }
}
section.judges .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #9a9da2;
}
@media (min-width: 480px) {
  section.judges .section-title {
    margin-bottom: 1.3rem;
  }
}
section.judges .judge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
section.judges .judge-container .judge-img {
  display: block;
  width: 100%;
  min-width: 100px;
  max-width: 350px;
  height: auto;
}
section.judges .judge-container .judge-name {
  display: block;
  width: 100%;
  min-width: 100px;
  max-width: 350px;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  background-color: #a61717;
  text-align: right;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  letter-spacing: 0.1rem;
  color: #fff;
}
section.judges .judge-container:last-child {
  margin-bottom: 0;
}

section.mission {
  padding: 2rem 1.1rem;
  background-color: #fff;
}
@media (min-width: 480px) {
  section.mission {
    padding: 2.3rem;
  }
}
section.mission .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #363d47;
}
@media (min-width: 480px) {
  section.mission .section-title {
    margin-bottom: 1.3rem;
  }
}
section.mission .section-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  color: #363d47;
}
@media (min-width: 480px) {
  section.mission .section-text {
    font-size: 0.8rem;
  }
}

section.faq {
  padding: 2rem 1.1rem;
  background-color: #363d47;
}
@media (min-width: 480px) {
  section.faq {
    padding: 2.3rem;
  }
}
section.faq .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #9a9da2;
}
@media (min-width: 480px) {
  section.faq .section-title {
    margin-bottom: 1.3rem;
  }
}
section.faq .section-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  color: #fff;
}
@media (min-width: 480px) {
  section.faq .section-text {
    font-size: 0.8rem;
  }
}
section.faq span.faq-list-style {
  margin-right: 0.7rem;
  padding: 0.15rem 0.3rem 0.1rem 0.45rem;
  background-color: #a61717;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 480px) {
  section.faq span.faq-list-style {
    font-size: 1rem;
  }
}
section.faq span.faq-list-style:hover {
  background-color: #fff;
  color: #a61717;
}

section.reserve-2 {
  padding: 2rem 1.1rem;
  background-color: #fff;
}
@media (min-width: 480px) {
  section.reserve-2 {
    padding: 2.3rem;
  }
}
section.reserve-2 .section-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  color: #9a9da2;
}
@media (min-width: 480px) {
  section.reserve-2 .section-title {
    margin-bottom: 1.3rem;
  }
}
section.reserve-2 .section-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  color: #363d47;
}
@media (min-width: 480px) {
  section.reserve-2 .section-text {
    font-size: 0.8rem;
  }
}
section.reserve-2 form {
  text-align: center;
}
section.reserve-2 form input {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0.6rem 1rem 0;
  padding: 0.5rem 1rem 0.3rem 0.9rem;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-weight: bold;
  font-size: 1rem;
  color: #363d47;
  background-color: #ebecee;
}
@media (min-width: 640px) {
  section.reserve-2 form input {
    max-width: 50%;
  }
}
section.reserve-2 form input::placeholder {
  color: #9a9da2;
}
section.reserve-2 form button {
  padding: 0.5rem 1.5rem 0.3rem 1.6rem;
  background-color: #a61717;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 1rem;
  color: #fff;
}

.footer {
  padding: 2rem 1.1rem;
  background-color: #363d47;
}
@media (min-width: 480px) {
  .footer {
    padding: 2.3rem;
  }
}
.footer .footer-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.3;
  font-family: "Lumios Typewriter New", "Special Elite", serif;
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
  font-size: 0.8rem;
  color: #fff;
}
@media (min-width: 480px) {
  .footer .footer-text {
    font-size: 0.8rem;
  }
}
@media (min-width: 480px) {
  .footer .footer-text {
    font-size: 0.65rem;
  }
}
.footer .icons-container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 480px) {
  .footer .icons-container {
    font-size: 1.8rem;
  }
}
.footer .icons-container a {
  margin: 0 0.8rem;
}
.footer .icons-container a i.fa {
  color: #fff;
}
.footer .icons-container a i.fa:hover {
  color: #a61717;
}

/*# sourceMappingURL=style.css.map */
