// IMPORTS
@font-face {
	font-family: "Lumios Typewriter New", "Special Elite", serif;
	src: url("../src/fonts/LumiosTypewriter-New.eot"), url("path/filename.eot?#iefix") format("embedded-opentype"),
		url("../src/fonts/LumiosTypewriter-New.woff") format("woff"),
		url("../src/fonts/LumiosTypewriter-New.woff2") format("woff2"),
		url("../src/fonts/LumiosTypewriter-New.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Special+Elite&display=swap");

// CSS RESET
* {
	box-sizing: border-box;
	transition: 0.3s;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strike,
strong,
b,
u,
i,
center,
ol,
ul,
li,
form,
input,
button,
article,
aside,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

a {
	color: #000;
}

ol,
ul,
li {
	list-style: none;
}

// FONT VARIABLES
$primary-font: "Lumios Typewriter New", "Special Elite", serif;
$secondary-font: "Montserrat", sans-serif;

// COLOR VARIABLES
$red: #a61717;
$dark-gray: #363d47;
$medium-gray: #9a9da2;
$light-gray: #d9d9da;
$lightest-gray: #ebecee;
$white: #fff;

// MEDIA QUERIES VARIABLES
$for-phone-portrait-up: 480px;
$for-tablet-portrait-up: 640px;
$for-tablet-landscape-up: 900px;
$for-desktop-up: 1200px;

// MIXINS
// SECTIONS
@mixin section-base {
	padding: 2rem 1.1rem;

	@media (min-width: $for-phone-portrait-up) {
		padding: 2.3rem;
	}
}

@mixin section-title-base {
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.8rem;

	@media (min-width: $for-phone-portrait-up) {
		margin-bottom: 1.3rem;
	}
}

@mixin section-text-base {
	margin-bottom: 0.5rem;
	letter-spacing: 0.15rem;
	text-align: center;
	vertical-align: bottom;
	line-height: 1.3;
	font-family: $primary-font;
	font-size: 0.9rem;

	@media (min-width: $for-phone-portrait-up) {
		font-size: 0.8rem;
	}
}

// FORM
@mixin input {
	width: 100%;
	max-width: 100%;
	margin: 1rem 0.6rem 1rem 0;
	padding: 0.5rem 1rem 0.3rem 0.9rem;
	font-family: $primary-font;
	font-weight: bold;
	font-size: 1rem;
	color: $dark-gray;

	@media (min-width: $for-tablet-portrait-up) {
		max-width: 50vw;
	}
}

@mixin button {
	padding: 0.5rem 1.5rem 0.3rem 1.6rem;
	background-color: $red;
	font-family: $primary-font;
	font-size: 1rem;
	color: $white;
}

// HOVERS
@mixin to-red-hover {
	color: $red;
}

@mixin to-white-bg-red-txt-hover {
	background-color: $white;
	color: $red;
}

// DEFAULTS
html {
	font-size: 16px;

	@media (min-width: $for-phone-portrait-up) {
		font-size: 18px;
	}
}

body {
	font-family: $secondary-font;
}

// @mixin for-sm-phone-only {
// 	@media (max-width: 479px) {
// 		@content;
// 	}
// }

	@media (min-width: $for-phone-portrait-up) {

	}

	@media (min-width: $for-tablet-portrait-up) {
		
	}

	@media (min-width: $for-tablet-landscape-up) {
		
	}

	@media (min-width: $for-desktop-up) {
		
	}

// NAVBAR
nav {
	top: 0;
	position: fixed;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: $white;
	font-family: $primary-font;
	color: $dark-gray;

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 1.7rem;
		padding-bottom: 1.1rem;
		letter-spacing: 0.08rem;

		@media (min-width: $for-phone-portrait-up) {
			padding-top: 1.9rem;
			padding-bottom: 1.3rem;
		}

		a {
			color: $red;
		}
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background-color: $light-gray;
		text-align: center;

		a.nav-item {
			border-bottom: 1px solid $medium-gray;
			padding: 0.6rem 100vw 0.3rem 100vw;
			color: $dark-gray;
			font-weight: bold;
			transition: 0.5s;

			@media (min-width: $for-phone-portrait-up) {
				padding: 0.8rem 100vw 0.5rem 100vw;
			}
		}

		a.nav-item:last-child {
			border: none;
		}

		a.nav-item:hover {
			@include to-red-hover;
			background-color: $medium-gray;
		}
	}
}

// RESERVE-1 SECTION
section.reserve-1 {
	@include section-base;
	margin-top: 10.1rem;
	background-color: $dark-gray;

	@media (min-width: $for-phone-portrait-up) {
		margin-top: 11.7rem;
	}

	.section-title {
		@include section-title-base;
		color: $medium-gray;
	}

	.section-text {
		@include section-text-base;
		color: $white;
	}

	form {
		text-align: center;

		input {
			@include input;
		}

		input::placeholder {
			color: $medium-gray;
		}

		button {
			@include button;
			transition: 0.5s;
		}

		button:hover {
			@include to-white-bg-red-txt-hover;
		}
	}
}

// ABOUT SECTION
section.about {
	@include section-base;
	background-color: $white;

	.section-title {
		@include section-title-base;
		color: $dark-gray;
	}

	.section-text {
		@include section-text-base;
		color: $dark-gray;
	}
}

// JUDGES SECTION
section.judges {
	@include section-base;
	background-color: $dark-gray;

	.section-title {
		@include section-title-base;
		color: $medium-gray;
	}

	.judge-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;

		@media (min-width: $for-phone-portrait-up) {
			max-width: 60vw;
		}

		.judge-img {
			width: 100%;
			max-width: 100%;
			height: auto;

			@media (min-width: $for-phone-portrait-up) {
				max-width: 60vw;
				margin: 0 auto;
			}
		}

		.judge-name {
			padding-top: 1rem;
			padding-bottom: 0.2rem;
			padding-right: 0.4rem;
			background-color: $red;
			text-align: right;
			font-family: $primary-font;
			letter-spacing: 0.1rem;
			color: $white;

			@media (min-width: $for-phone-portrait-up) {
				max-width: 60vw;
			}
		}
	}

	.judge-container:last-child {
		margin-bottom: 0;
	}
}

// OUR MISSION SECTION
section.mission {
	@include section-base;
	background-color: $white;

	.section-title {
		@include section-title-base;
		color: $dark-gray;
	}

	.section-text {
		@include section-text-base;
		color: $dark-gray;
	}
}

// FAQ SECTION
section.faq {
	@include section-base;
	background-color: $dark-gray;

	.section-title {
		@include section-title-base;
		color: $medium-gray;
	}

	.section-text {
		@include section-text-base;
		color: $white;
	}

	span.faq-list-style {
		margin-right: 0.7rem;
		padding: 0.15rem 0.3rem 0.1rem 0.45rem;
		background-color: $red;
		font-family: $secondary-font;
		transition: 0.5s;

		@media(min-width: $for-phone-portrait-up) {
			font-size: 1rem;
		}
	}

	span.faq-list-style:hover {
		@include to-white-bg-red-txt-hover;
	}
}

// RESERVE YOUR SPOT SECTION
section.reserve-2 {
	@include section-base;
	background-color: $white;

	.section-title {
		@include section-title-base;
		color: $medium-gray;
	}

	.section-text {
		@include section-text-base;
		color: $dark-gray;
	}

	form {
		text-align: center;

		input {
			@include input;
			background-color: $lightest-gray;
		}

		input::placeholder {
			color: $medium-gray;
		}

		button {
			@include button;
		}
	}
}

// FOOTER
.footer {
	@include section-base;
	background-color: $dark-gray;

	.footer-text {
		@include section-text-base;
		margin-bottom: 1.3rem;
		font-size: 0.8rem;
		color: $white;

		@media(min-width: $for-phone-portrait-up) {
			font-size: 0.65rem;
		}
	}

	.icons-container {
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(min-width: $for-phone-portrait-up) {
			font-size: 1.8rem;
		}

		a {
			margin: 0 0.8rem;

			i.fa {
				color: $white;
				transition: 0.5s;
			}

			i.fa:hover {
				@include to-red-hover;
			}
		}
	}
}
